In [46]:
#------------------------------------------------------------------------------------------------------------------------#
# Script responsável por ler um arquivo no formato 'csv'(Log.txt) e realizar o processo 'wrangling' para, posteriormente,#
# produzir um Dataframe. Ao final, gera um arquivo no formato 'csv' (log_csv)                                            #
# Autor: Ricardo AURÉLIO                                                                                                 #
#------------------------------------------------------------------------------------------------------------------------#
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
#
#---[Leitura e limpeza do arquivo csv de origem]
#
file_out = open("LogTmp.csv","w")
with open('Log.txt','r') as f:
    reg_in = 0
    reg_out = 0
    for linha in f:
        linha_limpa = linha.replace(";" , ",").replace('""',"NaN").replace("--","NaN").replace("}","").replace("{","")
        file_out.write(linha_limpa)
        reg_in += 1
        reg_out += 1
    file_out.close
    print("Linhas de entrada: ", reg_in)
    print("  Linhas de saída: ", reg_out)
#
#----[Lista que nomeia as colunas do Dataframe]
#
cols = ["Idt_msg_log","Msg_validacao","Bool_1","Nr", "Dt_ini_vig", "Dt_fim_vig", "Dt_emissao", "Dt_contrato", "Nr_proposta",
       "Possui_fam", "Nr_certif", "Nr_apol", "Nome_estipul", "Cod_subestipul", "Nome_subestipul", "Nome_segurado",
       "CPF_segurado", "Dt_nasc_segurado", "Idade_segurado", "Sexo", "Tp_associado", "Prec_matr_segurado", "Profissao_segurado",
       "Cod_profissao", "Nacionalidade", "Estado_civil", "Nr_sorteio", "Cobert01", "Cobert02", "Cobert03", "Cobert04",
       "Cobert05", "Cobert06", "Cobert07", "Cobert08", "Cobert09", "Cobert10", "Cobert11", "Cobert12", "Cobert13",
       "Valor_premio_liq", "Periodo_pagto", "Forma_cobr", "Dia_pagto", "Endereco_segurado", "Nr_logradouro", "Compl_endereco",
       "Bairro_segurado", "Cidade_segurado", "UF_segurado", "CEP_segurado", "Fone_resid_segurado", "Fone_comerc_segurado",
       "Email_segurado", "Cod_banco", "Nome_banco", "Tp_conta", "Agencia_banco", "Dv_agencia_banco", "Conta_banco",
       "Nome_conjuge", "Dt_nasc_conjuge", "CPF_conjuge", "Profissao_conjuge", "Nacionalidade_conjuge", "Status_apol",
       "Mot_recusa_cancel", "Cod_corretor", "Nome_corretor", "Perc_corretagem_corretor","Cod_cocorretor", "Nome_cocorretor",
       "Perc_corretagem_cocorretor", "Cod_agenciador", "Nome_agenciador", "Percent_agenciamento", "Doc_prolabore","Nome_prolabore",
       "Percent_prolabore", "Matric_angariador", "Nr_endosso", "Dt_endosso", "Tp_endosso", "Pend_endosso",
       "Status_endosso", "Nr_segmt_militar", "Nome_segmt_militar", "Nr_pst_graduacao", "Nome_pst_graduacao", "Nr_om"]

frep = lambda x : (x[x.find(':')+1:None].replace('"','')) # Elimina o dataname do conteúdo da coluna (Presente na Log)
sentinelas = {col : frep for col in cols} # Cria dicionário com as colunas previamente tratadas
#----[Cria o Dataframe]
df =  pd.read_csv('LogTmp.csv', names=cols, encoding="ISO-8859-1", delimiter=',', dtype=str,
      converters = sentinelas, na_values=['NULL'])
#----[Grava o Dataframe em formato csv]
df.to_csv("log_csv", sep=';', encoding='ISO-8859-1', index=False)
df.head()
#-----------------------------------------------------------------------------------------------------------------------------#

Linhas de entrada:  38
  Linhas de saída:  38

,Idt_msg_log,Msg_validacao,Bool_1,Nr,Dt_ini_vig,Dt_fim_vig,Dt_emissao,Dt_contrato,Nr_proposta,Possui_fam,...,Nr_endosso,Dt_endosso,Tp_endosso,Pend_endosso,Status_endosso,Nr_segmt_militar,Nome_segmt_militar,Nr_pst_graduacao,Nome_pst_graduacao,Nr_om
0,The REST step found a non-2xx status code in ...,Número da conta deve ser uma Poupança Poupex V...,false,85000000079949,2019-04-25,2024-04-25,2019-03-13,2019-03-13,85000000079949,Não,...,0,NaN,NaN,NaN,NaN,4,Marinha,20,2º SARGENTO,71250
1,The REST step found a non-2xx status code in ...,Número da conta deve ser uma Poupança Poupex V...,false,85000000079940,2019-04-25,2024-04-25,2019-03-13,2019-03-13,85000000079940,Sim,...,0,NaN,NaN,NaN,NaN,1,Exército,27,SOLDADO ENGAJADO ESPECIALIZADO,48561
2,The REST step found a non-2xx status code in ...,Número da conta deve ser uma Poupança Poupex V...,false,85000000080004,2019-04-25,2024-04-25,2019-03-14,2019-03-14,85000000080004,Sim,...,0,NaN,NaN,NaN,NaN,1,Exército,20,2º SARGENTO,24794
3,The REST step found a non-2xx status code in ...,Número da conta deve ser uma Poupança Poupex V...,false,85000000079975,2019-04-25,2024-04-25,2019-03-13,2019-03-13,85000000079975,Não,...,0,NaN,NaN,NaN,NaN,1,Exército,27,SOLDADO ENGAJADO ESPECIALIZADO,2709
4,The REST step found a non-2xx status code in ...,Número da conta deve ser uma Poupança Poupex V...,false,85000000080001,2019-04-25,2024-04-25,2019-03-14,2019-03-14,85000000080001,Não,...,0,NaN,NaN,NaN,NaN,4,Marinha,39,SOLDADO FUZILEIRO,611

In [47]:
df.shape

(38, 90)